<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Fila</title>

<link rel="stylesheet" th:href="@{/bootstrap/css/tela1.css}">
<link rel="icon" th:href="@{/imagens/tesoura.png}">

<link rel="stylesheet" th:href="@{/css/estilo.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/estiloCliente.css}">

</head>
<body>

	<button class="btn btn-danger">
		<a th:href="@{/logout}">Sair</a>
	</button>
	<button class="btn btn-info">
		<a th:href="@{/usuarios/usuario/home}">Voltar</a>
	</button>

	<h2 align="center">
		<b><span th:utext="${nome}"></span></b>
	</h2>


	<div class="container">

		<h3>
			<b><span style="font-size: 20; color: #FF1C19;"
				th:utext="${error}"></span></b>
		</h3>


		<form class="needs-validation"
			th:action="@{/usuarios/fila/{id}(id=${id})}"
			th:object="${cabeleireiro}" method="POST">
			<div class="form-row" style="color: white;">
				<div class="col-8-md-4 mb-3">
					<b>Valores: </b>Corte adulto R$ <span th:utext="${adulto}">
					</span><input type="radio" th:name="valor" th:value="${adulto}"
						checked="checked" /> Corte infantil R$ <span
						th:utext="${infantil}"> </span><input type="radio" th:name="valor"
						th:value="${infantil}" />
				</div>
				<div class="col-md-4 mb-3">
					<input type="submit" class="btn btn-info " name="c"
						value="Entrar na fila" id="submitButton"
						onclick="this.form.submit(); this.disabled = true;" />
				</div>
			</div>
		</form>


		<form class="button" th:action="@{/usuarios/sair/{id}(id=${id})}"
			th:object="${usuario}" method="POST">
			<div class="input-group mb-2 col-6">
				<input type="text" class="form-control" name="motivo"
					placeholder="Motivo da desistência"
					aria-label="Motivo da desistência" aria-describedby="basic-addon2">
				<div class="input-group-append">
					<button class="btn btn-outline-danger" type="submit">
						<b>Sair da Fila</b>
					</button>
				</div>
			</div>
		</form>

	</div>


	<div class="form-group col-sm-8">
		<table class="table table-sm table-dark">
			<thead>
				<tr class="btn-info azul">
					<th>Nome Cliente</th>
					<th>Status</th>
					<th>Entrada na fila</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="f: ${fila}"
					style="background: linear-gradient(to right, #2b2b2b 0%, #574f2f 100%); box-shadow: 0 15px 25px rgba(0, 0, 0, .9); border-radius: 15px; opacity: 0.8;">
					<td th:text="${f.usuario.nome} + ' ' + ${f.usuario.sobreNome}"></td>

					<td th:text="${f.status}"></td>
					<td th:text="${f.entradaFila}"></td>

				</tr>
			</tbody>
		</table>
	</div>


</body>
</html>