<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Home</title>

<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/bootstrap/css/tela1.css}">
    <link rel="icon" th:href="@{/imagens/tesoura.png}">

</head>

  <body>

      <nav clas="navbar navbar-default">
        
        <div class="container">
        
        <div class="navbar-header">

          <a href="#" class="navbar-brand"></a>
          
          <h1><span th:utext="${nomeUsuario}"></span></h1>

        </div>

        <div clas="collapse navbar-collapse" id="barra-navegacao">
          <button class="dropdown btn btn-default">
                <a href="" class="dropdown-toggle noneunderline" data-toggle="dropdown">
                MINHA CONTA <span class="caret"></span>
              </a>

                <ul class="dropdown-menu">
                 <li><a href="#" th:href="@{/logout}">Sair</a></li>
                </ul>
              </button>
 
        </div>

        </div>

      </nav>
    <br><br>
    
    

          
          <form th:action="@{/usuarios/pesquisa-cabeleireiro}" th:object="${cabeleireiroFilter}" method="get">
           <div class="row m-b">
         
  
          <div class="form-group col-sm-8">
              <input type="text" class="form-control sm" th:field="*{nomeEstabelecimento}" id="nomeEstabelecimento" placeholder="Nome Estabelecimento">
          </div>
             
            <div class="form-group col-sm-8">
              <input type="text" class="form-control sm" th:field="*{bairro}" id="bairro" placeholder="Bairro">
          </div>
          
            <div class="form-group col-sm-8">
              <input type="text" class="form-control sm" th:field="*{cidade}"  id="cidade" placeholder="Cidade">
          </div>
          
            <div class="form-group col-sm-8">
              <input type="text" class="form-control sm" th:field="*{cep}"id="cep" placeholder="Cep">
          </div>
          
           <div class="form-group col-sm-8">
              <input type="number" class="form-control sm" th:field="*{numero}"id="numero" placeholder="Número">
          </div>
          

          <div class="form-group col-sm-2">
              <button   class="btn btn-info">Pesquisar</button>
          </div>
          
     

         
          </div>
       
        </form>


     
     <!-- <form ui-jp="parsley" th:action="@{/show/products}" th:object="${myFormObject}" method="get">
                            <div class="row m-b">
                                <div class="col-sm-6">
                                    Search by Name: <input id="filter" type="text" th:field="*{pName}" class="form-control input-sm w-auto inline m-r"/>
                                    <button class="md-btn md-fab m-b-sm indigo"><i class="material-icons md-24">&#xe8b6;</i></button>
                                </div>
                            </div>
                      
                        </form> --> 
     
     
     

          <h3 align="center">RESULTADOS ENCONTRADOS:</h3><br>



          <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
          <tr class="btn-info azul">

            <th>Nome</th>
            <th>Endereço</th>
          </tr>
        </thead>

        <tbody>
          <tr>
              <td>Sleyter Bispo</td>
              <td>R. Cambara Branco</td>
          </tr>
          <tr>
              <td>Marco Lelis</td>
              <td>R. Osvaldo Crus</td>
          </tr>
          <tr>
              <td>Thiago Abreu</td>
              <td>R. Ipiranga</td>
          </tr>

          <tr>
              <td>Bruno Vaz</td>
              <td>R. Garça Morena</td>
          </tr>

          <tr>
              <td>Erika Moreira</td>
              <td>R. Alameda Santos</td>
          </tr>
        </tbody>
      </table>
</div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>