<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TELA 3 TCC</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/tela2.css" rel="stylesheet">
    <link rel="icon" href="img/img.png">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

      <nav clas="navbar navbar-default">
        
        <div class="container">
        
        <div class="navbar-header">

          <a href="#" class="navbar-brand"><h1>Salão Jaça- Espaço do seu cabelo</h1></a>

        </div>

        <div clas="collapse navbar-collapse" id="barra-navegacao">
          <button class="dropdown btn btn-default">
                <a href="" class="dropdown-toggle noneunderline" data-toggle="dropdown">
                MINHA CONTA <span class="caret"></span>
              </a>

                <ul class="dropdown-menu">
                 <li><a href="#">SAIR</a></li>
                </ul>
              </button>
          </ul>

        </div>

        </div>

      </nav>
    <br><br><br><br>

    <div class="container">
     

     <div class="page-header">
          
        <h2 align="center">Horario de Funcionamento</h2>
          

     </div>


<section>

<div class="row">
<div class="form-group col-sm-12">
          <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
          <tr class="btn-info azul">

            <th></th>
            <th>Segunda</th>
            <th>Terça</th>
            <th>Quarta</th>
            <th>Quinta</th>
            <th>Sexta</th>
            <th>Sabádo</th>
            <th>Domingo</th>
          </tr>
        </thead>

        <tbody>
          <tr></tr>
              <td>INICIO</td>
              <td>Fechado</td>
              <td>09:00</td>
              <td>09:00</td>
              <td>09:00</td>
              <td>09:00</td>
              <td>09:00</td>
              <td>09:00</td>
          </tr>
          <tr>
            <td>TERMINO</td>
              <td>Fechado</td>
              <td>21:00</td>
              <td>21:00</td>
              <td>21:00</td>
              <td>21:00</td>
              <td>21:00</td>
              <td>21:00</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  </section>

<section>
  <div class="row">

    <div class="form-group col-sm-2">
<button class="btn btn-default">Tipo de Corte</button>
</div>
<div class="form-group col-sm-2">
<button class="btn btn-default">Valor $</button>
</div>

</section><br><br><br>

<div align="center">
<button class="btn btn-info">SALVAR</button>
</div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>