<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="utf-8">
        <title>Painel Administrador</title>
        <meta name="author" content="Sleyter Bispo De Jesus e Marco Antonio">
        <meta name="description" content="Projeto TCC Uninove">    
        <link rel="stylesheet" th:href="@{/css/estiloCliente.css}"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/js/validator.js}"/>
        
   
        
</head>
<body>

	<h1>BEM VINDO ADMIN</h1>


</body>
</html>
 