<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>CodePen - Log-in</title>

  <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>

    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />

</head>

<body>

  <div class="login-card">
    <h1>Cadastro</h1><br>
  <form>
    <input type="text" name="user" placeholder="Nome">
    <input type="password" name=senha placeholder="Senha">
     <input type="password" name="confirme-senha" placeholder="Confirme Senha">
  
    <input type="submit" name="cadastrar" class="login login-submit" value="Cadastrar">
  </form>
 </div>

<!-- <div id="error"><img src="https://dl.dropboxusercontent.com/u/23299152/Delete-icon.png" /> Your caps-lock is on.</div> -->

  <script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script>

</body>

</html>